{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to Wikibiodi</h1>
            <p>Assess and visualize companies' biodiversity footprints</p>
        </div>
    </section>
    
    <h2 class="company-list-title">Select a Company</h2>
    
    <form method="get" action="" class="search-form">
        <input type="text" id="searchInput" class="search-input" placeholder="Search for companies" value="{{ query }}">
    </form>
    
    <div class="scrollable-container">
        <div id="companyAccordion">
            {% for company in companies %}
                <div class="company-card">
                    <button class="company-card-header" type="button" data-target="#collapse{{ company.pk }}">
                        <h5 class="company-name">
                            {{ company.name }}
                        </h5>
                        <span class="badge">{{ company.company_biodiv.biodiversity_score }}</span>
                    </button>
    
                    <div id="collapse{{ company.pk }}" class="company-details">
                        <div class="details-row">
                            <div class="detail">
                                <strong>Sector:</strong> {{ company.sector }}<br>
                                <strong>Last Update:</strong> {{ company.last_update|date:"Y-m" }}
                                <a href="{% url 'company_general' company.pk %}" class="btn btn-info">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
    <div class="add-company">
        <a class="add-company-button" href="{% url 'add_company' %}">Add Company</a>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Search filter
        const searchInput = document.getElementById('searchInput');
        const companyCards = document.querySelectorAll('.company-card');

        searchInput.addEventListener('input', function() {
            const filter = searchInput.value.toLowerCase();
            companyCards.forEach(function(card) {
                const companyName = card.querySelector('.company-name').textContent.toLowerCase();
                if (companyName.includes(filter)) {
                    card.style.display = '';
                } else {
                    card.style.display = 'none';
                }
            });
        });

        // Simple toggle for accordion
        document.querySelectorAll('.company-card-header').forEach(button => {
        button.addEventListener('click', function () {
            const content = this.nextElementSibling;
            const isActive = content.classList.contains("show");

            // Fermer tous les autres panels
            document.querySelectorAll('.company-details').forEach(detail => {
                detail.style.maxHeight = null;
                detail.classList.remove("show");
            });

            document.querySelectorAll('.company-card-header').forEach(btn => {
                btn.classList.remove("active");
            });

            // Si ce n'était pas actif, l'ouvrir avec hauteur dynamique
            if (!isActive) {
                content.classList.add("show");
                content.style.maxHeight = content.scrollHeight + "px";
                this.classList.add("active");
            }
        });
    });
});
</script>
{% endblock content %}