{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Upload Assets via Excel</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% if messages %}
<div id="message-container">
    {% for message in messages %}
        <div class="custom-alert {{ message.tags }}">
            <span class="message-text">{{ message }}</span>
            <button class="close-alert" onclick="this.parentElement.style.display='none'">✖</button>
        </div>
    {% endfor %}
</div>
{% endif %}




{% endblock content %}
